:root {
  --gray:#878787;
  --blue: #43d0e6;
}

h1 {
  text-align: center;
}

.row {
  margin-top: 30px;
}

form, #result {
  border: 1px solid var(--gray);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  display: block;
  margin: 10px auto;
}

#result {
  margin-top: 10px;
  display: none;
}

#doctor-name {
  font-size: 20px;
  font-weight: bold;
}

#doctor-info {
  padding: 30px;
}

#tel {
  margin-bottom: 30px;
}